.background {
    -fx-background-color: #FFFFFF;
}

.defaultButton {
    -fx-padding: 5 22 5 22;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: #1C86EE;
    -fx-text-fill: #FFFFFF;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.defaultButton:hover {
    -fx-background-color: #1E90FF;
}

.defaultButton:pressed {
    -fx-background-color: #1874CD;
}